@charset "UTF-8";

.title {

    font-family: "Dancing Script", cursive;
    font-size: 7rem;
    margin-bottom: 2rem;
}

section {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.hero {
    background-image: url(../images/bread1.jpg);
    text-align: center;
    padding-top: 10vh;
}
/*
MENU
-------------------------------- */
.menu {
    background-image: url(../images/bread2.jpg);
    display: flex;
    align-items: center;
}
.wrapper {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.menu-list tr{
    font-size: 1.125rem;
    margin-bottom: .5rem;
    line-height: 1.7;
}
.menu-list th {
    font-weight: normal;
}
.menu-list td {
    padding-left: 1rem;
}

/*
CONTACT
-------------------------------- */
.contact {
    background-image: url(../images/cafe.jpg);
    text-align: center;
    padding-top: 8vh;
}
body {
    background-image: url(images/bg1.png), url(images/bg2.png);
    background-position: left top, right top;
    background-repeat: no-repeat;
}

.container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

section {
    height: 100vh;
    scroll-snap-align: start;

    /* 背景画像を画面いっぱいに表示させる指定 */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*
DESKTOP - SIZE
*/
@media (min-width: 700px) {
    .title {
        font-size: 7rem;
    }
}
/*
MOBILE - SIZE
*/
@media (max-width: 700px) {
    .title {
        font-size: 4rem;
    }
}
